/*General containers for the page*/
.flex_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.leftColumn {
    background-color: rgba(245, 245, 245, 0.5);
    text-align: center;
    border-style: outset;
    border-radius: 10px;
    border-color: gray;
    margin: 30px;
    padding: 40px;
    grid-column: 1 / 2; /* Assigns content to the first column */
}
  
.rightColumn {
    background-color: rgba(245, 245, 245, 0.5);
    text-align: center;
    border-style: outset;
    border-radius: 10px;
    border-color: gray;
    margin: 30px;
    padding: 40px;
    grid-column: 2 / 3; /* Assigns content to the second column */
}


/*Text adjustments*/
.intro_name {
    font-size: 35px;
}

.headline {
    font-size: 95px;
    margin: 30px;
}

.headline_long {
    font-size: 95px;
    margin: 30px;
}

.headline_short {
    font-size: 95px;
    margin: 30px;
    display: none;
}

.headline_center_long {
    text-align: center;
    font-size: 95px;
    margin-bottom: -30px;
}

.headline_center_short {
    text-align: center;
    font-size: 95px;
    margin-bottom: -30px;
    display: none;
}

.statement {
    font-size: 35px;
}


/*Images*/
.personal_image {
    border-radius: 30px;
    height: 400px;
    width: 250px;
    animation: move 5s infinite alternate;
}

.hobby_image {
    width: 30%; /* Equal width for each image */
    height: auto; /* Maintain aspect ratio */
    margin: 0 1.66%; /* Space between images; adjust as needed */
    display: inline-block; /* Display images in a line */
}

.divider {
    height: 10px;
    background-color: black;
    width: 100%;                 /* Adjust width as needed */
    margin: 80px auto;          /* Centers the line horizontally */
}


/*For "Skills" section*/
.skills_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */ 
    gap: 10px;
}

.skill {
    background-color: #ff6f6f;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
    display: flex; /* Makes .skill a flex container */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    text-align: center; /* Also horizontally centers the text for single lines */
}


/*For "Experiences* section*/
.details {
    text-align: left;
    font-size: 20px;
}

.carouselItem {
    display: none; /* Hide all items by default */
}
  
.carouselItem.active {
    display: block; /* Show active item */
}

.carousel_buttons {
    color: black;
    font-size: 15px;
}


/*For "Hobby" section*/
.hobby_container {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Align the images vertically */
    flex-wrap: wrap; /* Allow images to wrap onto new line */
}

.hobby {
    display: flex;
}

.hobby_name {
    position: absolute; /* Overlaps the image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Fills the entire image area */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.2s ease-in-out; /* Add smooth transition effect */
    text-align: center; /* Center the text within the overlay */
    color: white; /* Example text color */
    background-color: rgba(0, 0, 0, 0.5); /* Example background color with some transparency */
}

.hobby:hover .image-overlay {
    opacity: 1; /* Overlay becomes visible on hover */
  }

.center_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(245, 245, 245, 0.5);
    text-align: center;
    border-style: outset;
    border-radius: 10px;
    border-color: gray;
    margin: 30px;
    padding: 40px;
}


/*Adjust to different screens*/
@media screen and (max-width: 1100px) {
    .container, .container2, .container3, .container4 {
        grid-template-columns: 1fr; /* Change to one column */
        grid-gap: 20px; /* Adjust gap to ensure proper spacing */
        margin-bottom: 20px; /* Remove any negative margins */
    }
    .leftColumn, .rightColumn {
        grid-column: 1; /* Full width for each item */
        padding: 20px; /* Ensure padding is sufficient to prevent text squeezing */
        justify-content: center;
    }
    .skill {
        margin-bottom: 10px; /* Add bottom margin to each skill for better separation */
    }
    .flex_cont {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 863px) {
    .container {
        padding: 10px; /* Optional: Adjust padding for smaller devices */

    }
    .leftColumn, .rightColumn {
        padding: 20px; /* Less padding for very small screens */
    }
    .skills_grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Creates three columns */ 
    }
    .headline_long {
        display: none;
    }
    .headline_short {
        display: inline;
    }
}

@media screen and (max-width: 839px) {
    .container {
        padding: 10px; /* Optional: Adjust padding for smaller devices */
    }
    .leftColumn, .rightColumn {
        padding: 20px; /* Less padding for very small screens */
    }
}

@media screen and (max-width: 504px) {
    .container {
        padding: 10px; /* Optional: Adjust padding for smaller devices */
        /* margin-bottom: 715px; */
    }
    .leftColumn, .rightColumn {
        padding: 20px; /* Less padding for very small screens */
    }
}