/*This is to get a custom font*/
.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Apply custom font to all text on the page*/
* {
  font-family: "Acme", sans-serif;
  box-sizing: border-box;
}

/*Create simple header*/
header {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: "Acme", sans-serif;
  font-size: 150%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;  /* Ensures the left and right navs are pushed to the edges */
  align-items: center;
}

nav {
  width: 100%; /* Ensures nav takes full width of header */
  display: flex;
  justify-content: space-between; /* This will push nav-left and nav-right apart */
}

.nav-left, .nav-right {
  display: flex;
}

.nav-right {
  gap: 20px; /* Adds space between the right-side buttons */
}

button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

/*Adjust body as needed*/
body {
  margin: 0;
  padding: 0;
  background-image: url("public/sunset.png");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  background-attachment: fixed; /* Keeps the image fixed during scrolling */
  display: flex;
  flex-direction: column; /* Stacks content vertically */
  height: 100vh; /* Ensures the body does not extend beyond the viewport height */
  overflow: visible; /* Prevents scrolling when content fits within the set height */
}

footer {
  left: 0%;
  bottom: 0%; /* Stick the footer to the bottom of the page */
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
  position: fixed; 
  margin-top: -50px;
}

.footer-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Ensures text does not overflow */
}

.socials a {
  color: white;
  margin-left: 10px; /* Space between icons */
  text-decoration: none; /* Removes underline from the icons */
}

.socials i {
  font-size: 150%; 
}

@media screen and (max-width: 563px) {
  footer {
    font-size: 125%;
  }
  .socials i {
    font-size: 125%;
  }
}